<a href="https://colab.research.google.com/github/kwaldenphd/building-a-ml-model/blob/main/klein_titanic_broussard_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Building Your Own Machine Learning Model in Python: Option #2

<a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" alt="Creative Commons License" /></a>
This tutorial is licensed under a <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">Creative Commons Attribution-NonCommercial 4.0 International License</a>.

# Overview

Read pages 94-114 from Meredith Broussard's 2018 book [*Artificial Unintelligence: How Computers Misunderstand the World*](https://onesearch.library.nd.edu/permalink/f/1phik6l/ndu_aleph004791189) (MIT Press). 

In this section of Chapter 7 "Machine Learning: The DL on the ML," Broussard outlines a machine learning workflow using data about Titanic passengers.

Follow the steps outlined in the chapter excerpt to build a machine learning classifier.

Chapter excerpt:
- [Access via Google Drive](https://drive.google.com/file/d/1sXJPcvk84SDB3QXCNWiKwL7AQ-gKcgh7/view?usp=sharing) (ND users only)
- [Link to electronic access through Hesburgh Libraries](https://onesearch.library.nd.edu/permalink/f/1phik6l/ndu_aleph004791189)

Jupyter notebook:
- [Link to Jupyter Notebook](https://colab.research.google.com/drive/1dJLBUyDvQZ7qGzsUxiVbegxZkDiDRMr4?usp=sharing)
  * SOURCE: Adapted from [Lauren F. Klein](https://lklein.com/)'s  [implementation of Broussard's exercise](https://github.com/laurenfklein/feminist-data-science/blob/master/notebooks/lab2-survival/lab2-survival-inclass.ipynb), developed for the Spring 2020 Emory University course [QTM 490 "Feminist Data Science"](https://github.com/laurenfklein/feminist-data-science).

You'll also need two data files for  this option: `text.csv` and `train.csv`
- GitHub
  * Test: https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/test.csv
  * Train: https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/train.csv
- Google Drive
  * [Test](https://drive.google.com/file/d/1YIKOH2upzQQUAiIqLwIqk5xdddetDsfR/view?usp=sharing)
  * [Train](https://drive.google.com/file/d/1CcHmC4hvVrLeM8AeSHmxCJSUvdXofGN_/view?usp=sharing)

This is a guided (i.e. not open-ended), moderately complex option.



---

<em>SOURCE: Adapted from [Lauren F. Klein](https://lklein.com/)'s  [implementation of Broussard's exercise](https://github.com/laurenfklein/feminist-data-science/blob/master/notebooks/lab2-survival/lab2-survival-inclass.ipynb), developed for the Spring 2020 Emory University course [QTM 490 "Feminist Data Science"](https://github.com/laurenfklein/feminist-data-science).</em>

# Intersectional Survival Analysis

*Lab adapted from an exercise by [Meredith Broussard](https://merbroussard.github.io/) in [Artificial Unintelligence](https://mitpress.mit.edu/books/artificial-unintelligence)*

In [10]:
# Libraries we need

import pandas as pd # for dataframes
import numpy as np  # for math
from sklearn import tree, preprocessing # for our model

# Data

You'll need two data files for  this option: `text.csv` and `train.csv`
- GitHub
  * Test: https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/test.csv
  * Train: https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/train.csv
- Google Drive
  * [Test](https://drive.google.com/file/d/1YIKOH2upzQQUAiIqLwIqk5xdddetDsfR/view?usp=sharing)
  * [Train](https://drive.google.com/file/d/1CcHmC4hvVrLeM8AeSHmxCJSUvdXofGN_/view?usp=sharing)

## Load from GitHub URLs

In [11]:
# training data
train_df = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/train.csv")

# show training data
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [12]:
# test data
test_df = pd.read_csv("https://raw.githubusercontent.com/kwaldenphd/building-a-ml-model/main/data/test.csv")

# show test data
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

## Load from Files

If working with Jupyter Notebooks on your local computer, you'll need to move files into the same directory (folder) as the Jupyter Notebook.
- Alternatively, you can provide the full file path.

If working in Google CoLab, you'll either need to upload the files to your session or mount Google Drive to access the file.
- [Uploading files](https://youtu.be/6HFlwqK3oeo?t=177)
- [Mounting Google Drive](https://www.marktechpost.com/2019/06/07/how-to-connect-google-colab-with-google-drive/)

In [13]:
# load training data
# train_file = "train.csv"

# create df
# train_df = pd.read_csv(train_file)

# show df
# train_df

In [14]:
# load test data
# test_file = "test.csv"

# create df
# test_df = pd.read_csv(test_file)

# show df
# test_df

# Exploring the Data

Some of the headers are self-explanatory, but some are not. 

For instance, what's `Parch`? 

Thanks to this dataset's [data dictionary](https://www.kaggle.com/c/titanic/data), we're able to determine the following:

## Data Dictionary

| Variable  | Definition          | Key             | 
| :-------- | :------------------ | :-------------- |
| survival  | Survival            | 0 = No, 1 = Yes | 
| pclass    | Ticket class        | 1 = 1st, 2 = 2nd, 3 = 3rd | 
| sex       | Sex                 |                           |	
| Age       | Age in years        |   |
| sibsp     | # of siblings / spouses aboard the Titanic | 
| parch     | # of parents / children aboard the Titanic |
| ticket    | Ticket number      | |
| fare	    | Passenger fare	 | |
| cabin     | Cabin number	     | |
| embarked	| Port of Embarkation|	C = Cherbourg, Q = Queenstown, S = Southampton|

## Additional Variable Notes

`pclass`: A proxy for socio-economic status (SES)
  * `1` = first class (upper class)
  * `2` = second class (middle class)
  * `3` = third class (lower class)

`age`: Age is fractional if less than 1. If the age is estimated, is it in the form of `xx.5`

`sibsp`: The dataset defines family relations in this way:
  * Sibling = brother, sister, stepbrother, stepsister
  * Spouse = husband, wife (mistresses and fiancés were ignored)

`parch`: The dataset defines family relations in this way:
  * Parent = mother, father
  * Child = daughter, son, stepdaughter, stepson
  * Some children travelled only with a nanny, therefore `parch=0` for them.

With this in mind, let's take a look at the first line of data and see if we can interpret it.

In [15]:
# show first line of training data
train_df.loc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

**What are we able to tell from this row data? What kind of information is included (and how is it recorded or notated)? What information might be missing or unclear?**

We can also take a look at the first five rows of the test data.

In [16]:
# check out the test data

test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

**What are we able to tell from this row data? What kind of information is included (and how is it recorded or notated)? What information might be missing or unclear?**

**How is this data similar to or different from the training data?**

Let's dig into our data a bit more by using the convenient `describe` function:

Note that it excludes non-numeric datatypes.

In [17]:
# show data description
train_df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

**What information or details can we glean from using `.describe()`?**

Specifically...
- What does it mean that the count of the "Age" column is lower than the rest?
- What does the mean of the "Survived" column tell us?

The `value_counts()` function can tell us a bit more:

In [18]:
# show values in Survived column from training data
train_df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

We can normalize those numbers to see how the numbers of passangers that died and the number that survived.

In [19]:
# normalize values in Survived column
train_df["Survived"].value_counts(normalize=True) # note lowercase of "True" -- different than R!

0    0.616162
1    0.383838
Name: Survived, dtype: float64

**If we were going to predict only on this metric, would we predict that a random person would survive or would die?**

# Making Predictions

**If we were going to predict only on this metric, would we predict that a random person would survive or would die?**

But there were likely other factors at play on the ship.

For example, the principle of "women and children first" was likely employed, to some degree, since it was a principle used during maritime disasters since at least the 1850s. 

So let's see if our intitution is correct, and that more women than men survived.

First, let's see the gender breakdown on the ship:

In [20]:
# show number of values in Sex column
train_df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

**How many men and how many women were on the ship?**

Now we're going to use something called [boolean indexing](https://www.geeksforgeeks.org/boolean-indexing-in-pandas/) in order to select only the men on the ship, and then see how many of them survived and how many died:

In [21]:
# show number of male passangers, grouped by survival status
train_df["Survived"][train_df["Sex"] == 'male'].value_counts()

0    468
1    109
Name: Survived, dtype: int64

**Of the men, how many died and how many survived?**

Let's just normalize that so we get a percentage:

In [22]:
# normalized male survival status number
train_df["Survived"][train_df["Sex"] == 'male'].value_counts(normalize=True)

0    0.811092
1    0.188908
Name: Survived, dtype: float64

**What percentage of men survived?**

We can make the same calculation for female passengers.

In [23]:
# normalized female survival status number
train_df["Survived"][train_df["Sex"] == 'female'].value_counts(normalize=True)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

**What does this tell us?**

Note that the 1 and 0 is inverted from the above, since value_counts defaults to list the highest number first.

**If we were going to manually fill out the "Survived" column in the test data with a prediction, what would we predict?**

## Now It's Your Turn

**Check to see if pclass-- what the data dictionary describes as "a proxy for socio-economic status"-- turns out to matter for a person's probability of survival.**

In [24]:
# get values for passenger class column
train_df["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

Modify the code used to determine survival rates by gender to determine survival rates by passenger class.

Questions to consider:
- How many of each class survived
- Which class had the best survival rate

**What percentage of "upper", "middle", and "lower" class people survived?**

**What would an intersectional approach to this data tell us to do next?**

# Building a Decision Tree Machine Learning Model

There are many approaches to this type of question. Today, we're going to use a *decision tree* in order to build our model. 

A decision tree is popular type of predictive modeling algorithm. More specifially, it's a *supervised* machine learning model that is used to predict a target (in our case, whether a person survives or not) by learning *decision* rules from features (in our case specific columns in our dataset). One of the most helpful features of decision trees, for our purposes, is that it can tell us which features are most important for making the prediction.  

Here's a helpful illustration of decision trees from Laurraine Li, over at *Towards Data Science*:

![decision tree diagram](https://miro.medium.com/max/2000/1*WerHJ14JQAd3j8ASaVjAhw.jpeg)

Based on the features that we specify from our training data, the decision tree model will ask (or "learn" in ML-speak) a series of questions to infer the class labels of the samples. As we can see, decision trees are attractive models if we care about interpretability.

Although the diagram illustrates the concept of a decision tree based on categorical targets (classification), the same concept applies if our targets are real numbers (regression).

If you want to learn more about decision trees, I'd recommend reading the rest of Li's article, "[Classification and Regression Analysis with Decision Trees](https://towardsdatascience.com/https-medium-com-lorrli-classification-and-regression-analysis-with-decision-trees-c43cdbc58054)"

It's quite easy to implement a decision tree using Python's `sklearn` library. But before we see how easy, we need to fix one thing in our data....

Remember that issue with the "Age" data? There was some missing, right?

That will break our algorithm. So we have two choices:

Exclude the people with missing ages, or make something up. 

So that you see how to do it, we're going to make something up. But we can talk about the implications of this later.

In [25]:
# assign any missing age the median age

train_df["Age"] = train_df["Age"].fillna(train_df["Age"].median())

In [26]:
# now we're ready to run our decision tree

# first, create the target; remember, this is the prediction we're after

target = train_df["Survived"].values

In [27]:
# we also need to turn our "Sex" variable into a binary --
# more on the problematic nature of the gender binary in a couple of classes!!!

# define the transformation we're about to apply
binary_sex = preprocessing.LabelEncoder()

# fit and transform the data as defined above
train_df["Sex"] = binary_sex.fit_transform(train_df["Sex"])

In [28]:
# pull out the features we want
features = train_df[["Pclass", "Sex", "Age", "Fare"]].values

# instantiate and fit the decision tree
my_dtree = tree.DecisionTreeClassifier()
my_dtree.fit(features, target)

# look at the importance and score of the included features

my_dtree.feature_importances_

array([0.12482906, 0.31274009, 0.234169  , 0.32826185])

Here's [an article that talks more about the math of calculating feature_importances](https://towardsdatascience.com/the-mathematics-of-decision-trees-random-forest-and-feature-importance-in-scikit-learn-and-spark-f2861df67e3). 

For now, just know that the higher the value, the more important the feature. Also, the feature_importances are listed in the order that the features are entered into the model. So in our case, "Fare" is most important, closely followed by "Sex."

Another metric we can take a look at is the mean accuracy, which tells you the percentage of correct predictions made. Sklearn also has this built in as the `score` function.

In [29]:
my_dtree.score(features, target)

0.9775533108866442

**What is the accuracy of our model? Are you satisfied?**

**If time: apply our model to our test data--remember that batch of data that didn't have the "Survived" column.**

In [30]:
# fill in missing data

test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].median())
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].median())

# convert the "Sex" column to numbers again; we can use the same encoder
test_df["Sex"] = binary_sex.fit_transform(test_df["Sex"])

In [31]:
# pull out the features we want
test_features = test_df[["Pclass", "Sex", "Age", "Fare"]].values

# make prediction
my_prediction = my_dtree.predict(test_features)

my_prediction

array([0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [32]:
# cross reference w/ passenger id

PassengerId= np.array(test_df["PassengerId"]).astype(int)
my_solution = pd.DataFrame(my_prediction, PassengerId, columns=["Survived"])

my_solution

      Survived
892          0
893          0
894          1
895          1
896          1
...        ...
1305         0
1306         1
1307         0
1308         0
1309         0

[418 rows x 1 columns]

In [37]:
# check accuracy score
my_dtree.score(test_features, my_prediction)

ValueError: ignored

# Next Steps

[Click here](https://github.com/kwaldenphd/building-a-ml-model/) to return to the main lab page on GitHub.